.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# Files
*.java
*.class
*.gif
# Folder created by Atom, when running processing
*/build
# Folder created by Sublime Text 3, when running processing
*/build-tmp
# Created by Cygnus Squad
Highscores.txt
